@import "tailwindcss";

:root{
  --teal: #0E2A28;
  --gold: #D79A2E;
  --neutral-white: #F9FAF8;
  --neutral-grey: #E6E8E7;
  --neutral-dark: #1A1A1A;
}

html,body,#__next{height:100%;}
body{background-color:var(--neutral-white);color:var(--neutral-dark)}

.container-max{max-width:1200px;margin-inline:auto}