@import "tailwindcss";

@theme {
  --color-teal: #063A33;
  --color-teal-dark: #0B2B26;
  --color-gold: #D5962B;
  --color-gold-light: #E0A940;
  --color-neutral-white: #F2F2F2;
  --color-neutral-grey: #E6E8E7;
  --color-neutral-dark: #1A1A1A;
}

html,body,#__next{height:100%;}
body{background-color:var(--color-neutral-white);color:var(--color-neutral-dark)}

.container-max{max-width:1200px;margin-inline:auto}